[2017-10-05 00:12] AliceWonderland opened #1 "Add your name to CONTRIBUTORS.md"
### Add Your Name
Add your name to the `CONTRIBUTORS.md` file using the below convention:

[code]

[2017-10-05 00:13] AliceWonderland opened #2 "Add a Profile Page"
Add a `Your_Name.md` file to the `profiles` directory. Use any combination of content and markdown you'd like. Here is an example:

[code]

[2017-10-05 00:14] AliceWonderland opened #3 "Create a `Hello, World!` Script"
Add a script to the `scripts` directory in any language of your choice! Here is an example:

[code]

[2017-10-05 00:42] xorz57 commented on #3
C++ doesn't belong to any environment. Can we skip this?

[2017-10-05 00:45] redxtech commented on #3
@xorz57 just dont put the env comment. Put the others, but leave `/* ENV: cmake */`  (as an examle) out.

[2017-10-05 00:49] xorz57 commented on #3
@redxtech That would be fine too!

[2017-10-05 02:50] #1 closed

[2017-10-05 03:07] AliceWonderland opened #25 "Add Your Name"
Add your name to the `CONTRIBUTORS.md` file using the below convention:

[code]

[2017-10-05 04:03] AliceWonderland opened #32 "Update README with Fork Sync Links"

[2017-10-05 04:05] campionfellin commented on #25
@AliceWonderland just added myself, thanks for doing this 👍

[2017-10-05 04:11] #32 closed

[2017-10-05 04:38] eculver commented on #25
this is such a great idea. Thanks @AliceWonderland!!

[2017-10-05 09:44] agnieszka-miszkurka commented on #25
just made a pull request. Thanks a lot :D

[2017-10-05 14:37] wolframtheta commented on #3
Can I do it in Java?

[2017-10-05 19:37] #2 closed

[2017-10-05 19:37] #25 closed

[2017-10-05 19:41] AliceWonderland opened #80 "Add Your Name to CONTRIBUTORS.md"
Add your name to the `CONTRIBUTORS.md` file using the below convention:

[code]

[2017-10-05 19:42] AliceWonderland opened #81 "Add a Profile.md Page to the Profiles directory"
Add a `Your_Name.md` file to the `profiles` directory. Use any combination of content and markdown you'd like. Here is an example:

[code]

[2017-10-06 04:28] AliceWonderland opened #100 "Update with more detailed Fork and Sync instructions"

[2017-10-06 04:29] AliceWonderland opened #101 "Re-Format README"
Update README with better layout, readability, edit content/copy.

[2017-10-07 11:46] RealAnishSharma opened #132 "create hello world in ruby"

[2017-10-08 17:20] #80 closed

[2017-10-08 17:22] #3 closed

[2017-10-08 17:42] AliceWonderland opened #162 "Create a `Hello World` Script"
Add a script to the `scripts` directory in any language of your choice! Here is an example:

[code]

[2017-10-08 17:43] AliceWonderland opened #163 "Add Your Name to CONTRIBUTORS.md"
Add your name to the `CONTRIBUTORS.md` file using the below convention:

[code]

[2017-10-08 19:07] Ckpuna4 opened #182 "Add a Profile Page"
Add a ```My_Name.md``` file to the ```profiles``` directory. Use any combination of content and markdown I'd like.

[2017-10-09 06:00] topspinj commented on #163
Creative issue ;)

[2017-10-09 08:03] ChathuminaVimukthi commented on #182
Added my profile page to profiles directory

[2017-10-09 15:27] anujagrazzel commented on #132
I wanna work on this!!

[2017-10-09 17:21] PREMPRAKASHSINGH commented on #182
@Ckpuna4  Is it still open?
Can i contribute too by adding profile page?

[2017-10-09 18:03] Ckpuna4 commented on #182
Yes I think. Or you can push here https://github.com/AliceWonderland/hacktoberfest/issues/81

[2017-10-12 18:11] AliceWonderland opened #436 "Looking for Collaborators to help with Reviewing PRs"
Do you have a good handle on GitHub and pull requests? Looking for collaborators to help review PRs, resolve merge conflicts, and approve pull requests!

Reply to comments if interested!

[2017-10-12 18:44] shahdivyam commented on #436
@AliceWonderland Interested to be a collaborator

[2017-10-12 19:49] AliceWonderland commented on #436
Hi Divyam!

Thanks for replying! Here are a few things to check when reviewing a pull request:

-CONTRIBUTORS.md - Sometimes github doesn't always show merge conflicts in this file. I've come across this a few times, not sure why it happens. So in order to make sure noone's name gets overwritten, **I alway add new names at the end of the file**. This way I can confirm if the file is current by che

[2017-10-12 23:08] Yelk11 commented on #436
@AliceWonderland  Since you helped me out, id like to help you out!! Love what you are doing!

[2017-10-13 06:04] neelanshsahai opened #470 "Add Your Name to CONTRIBUTORS.md"
Add a name to CONTRIBUTORS.md

[2017-10-13 06:05] neelanshsahai opened #471 "Add a Profile Page"
Add a file to the profiles directory

[2017-10-13 06:11] neelanshsahai opened #472 "Create a Hello, World! Script"
@AliceWonderland can i create a 'Hello World' program in java or c, or should it be in python or js only

[2017-10-13 13:02] ItachiUchiha1998 commented on #162
I made it sent PR but it hasn't been reviewed yet..

[2017-10-13 16:20] stupidly-logical commented on #472
As per the Readme, you can submit it in any language of your choice.

[2017-10-13 19:41] sifat009 commented on #436
i am interested :)

[2017-10-13 22:08] bu7ch commented on #436
you need to configure an CI... for check and auto merge respect PR

[2017-10-14 00:41] hamzahsarwari opened #537 "I am new to this so i am not too sure if I am doing this correctly."
My attempt at hello world in C++:
__________________________________
#include<iostream>
using namespace std;
int main(){
cout << "Hello World!";
return 0;
}

[2017-10-14 01:21] kylesferrazza commented on #436
Interested

[2017-10-14 02:17] smb564 commented on #537
Hi @hamzahsarwari , I think your hello world misses what is imported. You should add `#include <iostream>`

And for the rest of the tasks please go through the readme file. It explains the tasks very nicely.

[2017-10-14 06:55] Rishabh570 opened #567 "Review required"
Please review and merge #566 ..

[2017-10-14 06:58] Rishabh570 commented on #163
Added ...Please review and merge #566

[2017-10-14 11:35] SoumitraAgarwal commented on #436
Interested!

[2017-10-14 13:58] kaaquist commented on #472
@AliceWonderland I have a clojure version for your helloWorld. Please add me ;-) so I can push.

[2017-10-14 17:34] yamishi13 commented on #163
Added the PR, please review and merge 😄 #618

[2017-10-14 23:09] mojtabatmj commented on #436
i am interested i going to put more time for it

[2017-10-15 06:30] ferrelucas commented on #436
Hi there, @AliceWonderland I am interested in collaborating too!

[2017-10-15 19:14] LilyBell opened #703 "Access permission denied when pushing"
[code]

[2017-10-16 01:44] LilyBell commented on #703
Resolved

[2017-10-16 01:44] #703 closed

[2017-10-16 05:11] AliceWonderland commented on #436
Hi @bu7ch ! I'm not sure how to configure an auto-merge to check for the items I listed. Is there a tutorial or documentation you can refer me to? Thanks!!

[2017-10-16 20:49] AliceWonderland opened #786 "Collaborators - See Here!"
Thanks for signing up to help review PRs! Here are some things to watch out for:

- **CONTRIBUTORS.md** - Sometimes github doesn't always show merge conflicts in this file. I've come across this a few times, not sure why it happens. So in order to make sure noone's name gets overwritten, I alway add new names at the end of the file. This way I can confirm if the file is current by checking the las

[2017-10-16 21:14] AliceWonderland commented on #786
Hey @kylesferrazza,

Thanks for signing up to contribute! If you have any questions, feel free to comment here or open an issue for me to look at! Otherwise, feel free to start reviewing, approving, and merging PRs when ready!

Thanks again! And Happy Hacktoberfest!

[2017-10-16 21:28] kylesferrazza commented on #786
Sounds good, thanks! @AliceWonderland

[2017-10-17 04:22] fercreek commented on #163
@AliceWonderland this is my PR :)
#816

[2017-10-18 19:18] AliceWonderland commented on #786
Hey @shahdivyam,

Thanks for signing up to contribute!! If you have any questions please feel free to comment here or open an issue for me!

--Alice

[2017-10-18 23:43] StevenCopeland commented on #786
@AliceWonderland I would like to help! It seems that you have a lot of work on your hands!

[2017-10-19 00:44] ygorlmelo opened #1014 "Add a Profile Page"
Adding my profile

[2017-10-19 07:40] ichbinjon commented on #436
I could get involved in that if you still need it

[2017-10-19 09:03] Prajwalpatill opened #1047 "Review required #1046"

[2017-10-19 09:04] #1047 closed

[2017-10-19 09:05] Prajwalpatill opened #1048 "Review required"
Please review and merge #1046

[2017-10-19 09:15] Prajwalpatill opened #1050 "Review required"
Please review and merge #1049

[2017-10-19 09:53] bu7ch commented on #436
look at this : [link stack overflow](https://stackoverflow.com/questions/31882306/how-to-configure-travis-ci-to-build-pull-requests-merges-to-master-w-o-redunda)
or use CircleCI : https://circleci.com/integrations/github/

[2017-10-19 10:04] #1050 closed

[2017-10-19 11:22] Asjas commented on #132
@anujagrazzel If you haven't figured it out yet and submitted a Hello World in ruby yet, you don't have to only create it if there is an issue opened for it. There is no limitation on who, or the amount of hello world programs that can be submitted with a PR. You can write one and just submit a PR

[2017-10-19 15:20] AliceWonderland commented on #786
Hey @SoumitraAgarwal,

Thanks for signing up to contribute!! Please see above for instructions. If you have any questions please feel free to comment here or open an issue for me!

--Alice

[2017-10-19 15:23] AliceWonderland commented on #786
Hi @StevenCopeland,

I have added you as a collaborator! Please feel free to chip away at it whenever you get a chance! I can't keep up! If any questions, just reply here or comment in the PR and I'll take a look.

Thanks, Alice

[2017-10-19 15:48] StevenCopeland commented on #786
@AliceWonderland Thank you so much!

[2017-10-19 15:50] #1048 closed

[2017-10-19 17:41] StevenCopeland opened #1140 "PR to merge"
Please do **NOT** open a new issue with a request to merge a PR. Please just comment here, or link your PR to this issue.

[2017-10-19 18:19] StevenCopeland commented on #436
@AliceWonderland I can add all these people....

[2017-10-19 18:23] #567 closed

[2017-10-19 19:25] #472 closed

[2017-10-19 20:17] AliceWonderland commented on #436
Hey @StevenCopeland! I have not added everyone yet because I'm first looking for ppl a github history, active repos etc! So for now I'd like to try with the assignees we have!

[2017-10-20 00:32] RudyB commented on #101
can we get a hacktoberfest label on this?

[2017-10-20 02:32] AliceWonderland commented on #786
FYI: Fixed some stray files that weren't in the proper folders! Some users put their script files or profile pages in the root dir!

[2017-10-20 02:44] AliceWonderland commented on #182
Happy Hacktoberfest! Thanks for contributing!

[2017-10-20 02:44] #182 closed

[2017-10-20 02:49] StevenCopeland commented on #786
Only 25 Pages left! Lets complete 2 more tomorrow!

[2017-10-20 02:49] #471 closed

[2017-10-20 03:06] AliceWonderland commented on #537
Hi @hamzahsarwari,

Thanks for your comment! I don't know C++ very well however, please add some comments at the top listing what language you're using, your name (author), and any helpful links you'd like to provide!

See the README for a comments example!
Thanks, Alice

[2017-10-20 03:06] AliceWonderland commented on #1014
Thanks! We are currently reviewing all PRs and are backlogged! We will get to it as soon as possible!

Happy Hacktoberfest!

[2017-10-20 03:06] #1014 closed

[2017-10-20 03:07] #537 closed

[2017-10-20 03:10] #470 closed

[2017-10-20 14:04] StevenCopeland opened #1292 "Contributors - See Here! Requirements for files"
# Requirements

I think there already is an issue for each requirement, but I'll just bring it all together here.

## Script files:

Your ending script file should look something like this:

[code]

Do **NOT** make your file like this

[code]
Also, make sure to put the file in the script folder **NOT** in the home directory.

## Contributor.md:

Make sure you don't delete any other data which is a

[2017-10-20 15:25] StevenCopeland commented on #786
Here is one #1304

[2017-10-20 23:39] christianheinrichs commented on #436
@AliceWonderland @StevenCopeland I can help out with the PR reviews, so definitely interested!

[2017-10-21 17:59] warlockz opened #1455 "Issue : Add hello world program in scratch"

[2017-10-21 18:19] warlockz opened #1458 "Updating Contributors.md"
Updating Contributors.md

[2017-10-22 03:13] #1458 closed

[2017-10-22 03:13] #1455 closed

[2017-10-22 03:13] StevenCopeland commented on #101
@AliceWonderland What is the plan on this?

[2017-10-22 08:46] Busterz commented on #1140
Hi there, could you take a look at my PR #1524 ? Thank you!

[2017-10-22 11:53] StevenCopeland commented on #1140
@Busterz Merged to master.

[2017-10-22 12:27] devaman commented on #1140
hi @StevenCopeland , please look at PRs #779  #777 #776

[2017-10-22 12:47] StevenCopeland commented on #1140
@devaman All three merged to master!

[2017-10-22 12:48] devaman commented on #1140
@StevenCopeland
thanks....

[2017-10-22 16:55] vish21 commented on #1140
hi @StevenCopeland , please look at PR #1564

[2017-10-23 04:35] gsuxlzt commented on #1140
@StevenCopeland mine is PR #1607

[2017-10-23 08:12] adlyloukil commented on #1292
I added my name to the  1. CONTRIBUTOR.md file and added my 2. profile. Hope it's ok 👍

[2017-10-23 10:28] ankitch commented on #1140
@StevenCopeland  mine is #1029

[2017-10-23 12:26] StevenCopeland commented on #1140
@vish21 @gsuxlzt @ankitch All of your PRs are now merged!

[2017-10-23 18:47] tejassateesh commented on #1140
Please look at my PR #1705 thank you

[2017-10-23 19:07] StevenCopeland commented on #1140
@tejassateesh Merged to master!

[2017-10-24 09:41] namish800 commented on #1140
@StevenCopeland  review PR https://github.com/AliceWonderland/hacktoberfest/pull/1857

[2017-10-24 11:47] StevenCopeland commented on #1140
@namish800 Merged your PR to master.

[2017-10-24 12:59] darkLord19 commented on #1140
@StevenCopeland review my PR #1890

[2017-10-24 13:01] StevenCopeland commented on #1140
@darkLord19 Merged your PR to master.

[2017-10-24 15:07] christianheinrichs opened #1909 "Multiple entries in CONTRIBUTORS.md"
Many entries in the CONTRIBUTORS.md file are duplicated for some reason.

My entry for example appears 4 times. This can either be fixed automatically with a script or manually. If every contributor were to fix this themselves, take a look at pull request #1908, where I removed 3 duplicated entries of my contribution.

[2017-10-24 16:11] miltoskat commented on #1140
@StevenCopeland hello there review my PR [#1924](https://github.com/AliceWonderland/hacktoberfest/pull/1924)

[2017-10-24 16:19] StevenCopeland commented on #1140
@miltoskat Merged your PR to master.

[2017-10-24 16:55] moisesnandres commented on #1140
@StevenCopeland review my PR https://github.com/AliceWonderland/hacktoberfest/pull/1921 pls

[2017-10-24 18:16] StevenCopeland commented on #1140
@moisesnandres Merged your PR to master.

[2017-10-24 20:02] fedesassone commented on #1140
Hey, added my PR #1981 . Thanks!

[2017-10-24 20:12] fedesassone commented on #1140
Hello, aded another one #1986 . Thanks!

[2017-10-24 20:22] fedesassone commented on #1140
Aaaand the final one #1987 Thank you!

[2017-10-24 21:10] moisesnandres commented on #1140
Thanks @StevenCopeland , here is another https://github.com/AliceWonderland/hacktoberfest/pull/1998 review pls

[2017-10-24 21:23] StevenCopeland commented on #1140
@fedesassone @moisesnandres Reviewed all of your PRs

[2017-10-24 21:36] Yardanico commented on #436
@AliceWonderland I think I can help you, I have a pretty active github history:)

[2017-10-24 21:36] Yardanico commented on #436
@AliceWonderland I think I can help you, I have a pretty active github history:)

[2017-10-24 22:41] AliceWonderland commented on #1909
Hi Chris, Thanks for notifying me. There's something wrong with the file. There are over 16k lines. Which doesn't seem right.

I will look into this.

In the meantime can we stop merging PRs until I fix this? Thanks!

[2017-10-24 23:27] AliceWonderland commented on #1909
Ok, it's not just your entry that's duplicated. My entries are duplicated too.

The first time it happened looks like 3 days ago. Between @robotnamedEmily and @StevenCopeland commits. There's also extra files in the repo that shouldn't be there or are in the wrong folder...

What's confusing too is it looks like many contributors are committing straight into master without creating a PR for review

[2017-10-24 23:33] AliceWonderland commented on #436
This repo is on hold temporarily until the CONTRIBUTORS.md file can be fixed. Will re-open and look for more collaborators once it's sorted out !

[2017-10-24 23:34] AliceWonderland opened #2015 "Fix CONTRIBUTORS.md file for duplicates"
Until this is sorted out, please do not continue approving, committing, merging!

Thanks!

[2017-10-24 23:35] AliceWonderland commented on #2015
Until then, if anyone has a suggestion on how best to clean this file, please let me know!

[2017-10-24 23:40] StevenCopeland commented on #2015
@AliceWonderland To bad! I am not sure how we can do this..... We might have to just look at every single entry to the repo and check a duplicate.

[2017-10-24 23:51] AliceWonderland commented on #2015
Yeah for now until I can fix the file and make this repo can only be pushed to by collaborators, all merges are on hold.

How are you reviewing, approving, and merging? Through the github.com interface online? Via command line? Or through another client?

I will need time to look at this perhaps sometime next week. In the meantime, I will check for tools out there.

[2017-10-25 00:15] StevenCopeland commented on #2015
I am doing it all online. I don't actually have a local repository folder.

[2017-10-25 00:27] AliceWonderland commented on #2015
Yeah, that's what I do for the most part unless I have to move or delete files... Then I update my local repo and update my changes via command line.

[2017-10-25 00:28] StevenCopeland commented on #2015
@AliceWonderland Do you have any ideas for this?

[2017-10-26 14:25] christianheinrichs commented on #1909
@AliceWonderland Hey Alice, normally, users shouldn't have write access to this repository unless they are collaborators like you mentioned (i.e. they have write access), so this is indeed quite peculiar. If this issue persists, you might want to contact GitHub support.

[2017-10-26 14:49] StevenCopeland commented on #1909
@AliceWonderland I was look at how many contributors there were yesterday(599), and now there are 600. And no PRs have been merged recently!

[2017-10-26 17:34] kylesferrazza commented on #2015
I'm going to look into this tonight

[2017-10-26 18:44] kylesferrazza commented on #1909
@AliceWonderland
If a pull request is merged using a "merge commit" (not squashed into one commit), it will appear in the history as if the creator directly pushed to master.

[2017-10-26 19:46] AliceWonderland commented on #2015
Hi @StevenCopeland @kylesferrazza !

I have not had a chance to yet. There must be a duplicates finder tool out there. That let's you delete duplicates. I just haven't had a chance to research.

In any case, I put a notice up letting people know there would be no new merges until the contributor file can be sorted out.

In the meantime, a possible option is we could still keep merging but only PRs

[2017-10-27 09:55] jbreckel commented on #2015
Hey,

I added a script that checks the CONTRIBUTERS file for duplicates and rewrites it with uniques.

This script could be run after every PR to ensure that the file stays unique.

[2017-10-27 18:53] RonLek commented on #1140
@StevenCopeland my PR is #900

[2017-10-27 20:59] StevenCopeland commented on #1140
I am sorry @RonLek I am unable to merge PRs that change the contributor file.

[2017-10-29 14:30] Mask123pru commented on #163
review my PR https://github.com/AliceWonderland/hacktoberfest/pull/2495

[2017-10-30 10:32] darkLord19 commented on #1140
Added my profile #2597

[2017-10-30 12:19] StevenCopeland commented on #1140
@darkLord19 Merged your PR to master.

[2017-10-30 13:12] StevenCopeland opened #2621 "Collaborators See Here - Merging mass"
**IMPORTANT**
To all Collaborators,

We need to hurry with these PRs! There are many left, and not many hours left in the hacktoberfest! We need to merge as many as we can in these last few days!

Regards,
Steven Copeland

[2017-10-30 14:30] kylesferrazza commented on #2621
(Hacktoberfest only requires making a pull request, not having it merged)

[2017-10-30 17:02] StevenCopeland commented on #2621
@kylesferrazza That is true. But people like having the PRs merged before the end of the hacktoberfest(personal experience).

[2017-10-30 17:26] arjunsinghy96 opened #2669 "Sort CONTRIBUTING.md and fix styling."
The CONTRIBUTING.md need to be sorted. The styling also needs to be fixed.

[2017-10-30 18:05] #2669 closed

[2017-10-31 03:19] RN0311 commented on #1140
Hey, @darkLord19. Review my PR #2746. Thanks :)

[2017-10-31 05:40] darkLord19 commented on #2621
@StevenCopeland @kylesferrazza PRs need to be merged for hacktoberfest

[2017-10-31 14:20] ZER-0-NE commented on #162
I would like to work on this.
Can anyone help me out?

[2017-10-31 14:30] ItachiUchiha1998 commented on #162
Just fork the repo make a hello world script using any language..

[2017-10-31 19:15] StevenCopeland commented on #1140
@RN0311 @jndachenhaus I have stopped being a collaborator on this issue. Please ask @AliceWonderland or one of the other collaborators to merge your PRs.

[2017-10-31 23:26] artureiji commented on #2015
Hi folks, sorry i'm late, didn't see this issue here. I have actually created a script that sorts and remove duplicates for the contributors list the PR is here:
https://github.com/AliceWonderland/hacktoberfest/pull/2163

And a separate PR for updating the contributors file:
https://github.com/AliceWonderland/hacktoberfest/pull/2162

[2017-11-01 23:48] AliceWonderland commented on #2621
Hello! It's ok to not have these PRs merged before the end of Hacktoberfest!

Ideally, the priority is to have them merged accurately. It looks like files are still being merged to the wrong directory (I see some helloworlds in the root directory) And I see new merges to CONTRIBUTORS.md (which should not be happening unless it has been fixed).

Can we hold off on all approvals/merges again until I

[2017-11-01 23:50] AliceWonderland commented on #2015
Thank you @jbreckel and @artureiji !! I am just now catching up to all the comments.

Let me take a look at the status of everything and will reply back to this thread.

In the meantime, if all collaborators can hold off on PR approvals/merges that would be great!

Thanks, Alice

[2017-11-09 08:35] shashankKeshava commented on #1909
@AliceWonderland  and @christianheinrichs  [Duplicate Contributors Formatter](https://github.com/AliceWonderland/hacktoberfest/pull/3002) solves all your problems

[2017-11-09 08:36] shashankKeshava commented on #2015
@AliceWonderland  [Duplicate Contributors Formatter](https://github.com/AliceWonderland/hacktoberfest/pull/3002) solves all your problems

[2017-11-09 10:52] christianheinrichs commented on #1909
@shashankKeshava In the related issue #2015 you can see that two people already proposed PRs to programmatically sort the CONTRIBUTORS.md file.

I am not sure when the pull requests #2162 (Artur Aciole), #2163 (Artur Aciole), #2197 (Julius Breckel) and your PR #3002 (Shashank Keshava) are going to be reviewed, but I guess we should all wait for Alice's answer.

[2017-11-18 04:37] #2621 closed

[2017-11-18 04:44] AliceWonderland commented on #1909
Thanks @christianheinrichs, @kylesferrazza, @shashankKeshava !

As of Nov 17 the CONTRIBUTORS file has been cleaned and up on master.

I created a script to remove dupes before I saw these proposals. Which can still be used. I now have to check out the sort and PRs and also resolve merge conflicts for those PRs before I can merge.

We now  have 488 entries instead of 3300. Which doesn't seem quite

[2017-11-18 04:49] AliceWonderland commented on #2015
Thanks to @jbreckel, @artureiji, and @shashankKeshava !!

I ended up creating a simply py script to remove the duplicate entries since I'm unsure how to run the C program! And would also like to place all these maintenance scripts in a separate script folder independent from the Hello World scripts folder for these programs only.

I'll leave this open for now. PR merges are still on hold until I t

[2017-11-18 11:43] christianheinrichs commented on #1909
@AliceWonderland Glad you got this worked out! Always happy to help.

[2017-11-18 11:43] #1909 closed

[2017-12-09 03:11] sadaftahir commented on #2015
Hi @AliceWonderland,

How long do you think it can take up to?

[2018-01-04 23:02] AliceWonderland commented on #2015
Hi @sadaftahir! Sorry for the delay, I haven't been able to commit any time to this. So far I've been approving each PR manually.

I am looking for ways to automate the approval process since the approval checks are pretty straightforward. The files have to follow the naming convention, be in the correct folder, and the only file that needs to be merged is one basic file.

There are some Command L

[2018-09-08 01:10] sdabhi23 commented on #436
@AliceWonderland I would like to help out!

[2018-10-02 02:41] amohata007 commented on #1292
Create your pull request here.
https://github.com/amohata007/Hacktoberfest

[2018-10-02 02:44] amohata007 commented on #1140
create your pull request here
https://github.com/amohata007/Hacktoberfest

[2018-10-02 02:44] amohata007 commented on #786
create your pull request here-
https://github.com/amohata007/Hacktoberfest

[2018-10-02 10:41] mathagician commented on #436
@AliceWonderland I would like to a reviewer and help. Thanks

[2018-10-02 20:55] mariorodeghiero commented on #1140
Review my PR  #3207, please.

[2018-10-03 01:56] abdrrahmenz opened #3226 "add contribute.md"
fix

[2018-10-03 12:49] Majzer commented on #1140
Hi @StevenCopeland, @Busterz can you take a look at my PR #3267?

[2018-10-04 11:45] nayaksofia commented on #1292
Could you please review this Add Side bar #3348
Thank you.

[2018-10-05 05:19] Cyan101 commented on #3226
not exactly much help @abdrrahmenz

[2018-10-06 17:40] prkhrv commented on #162
I would like to contribute to this

[2018-10-08 03:48] jonathanzhang53 commented on #1140
#3640 is my PR.

[2018-10-08 17:12] TomerPacific commented on #100
@AliceWonderland ,
can you give a bit more information about what needs to be done? I want to help with this issue.

[2018-10-09 04:54] fineanmol commented on #3226
Just Check this Repo Also of Hacktober Fest to win T-shirt ..        [Repo Hacktoberfest2k18](https://github.com/fineanmol/Hacktoberfest2k18)

[2018-10-09 04:54] fineanmol commented on #2015
Just Check this Repo Also of Hacktober Fest to win T-shirt ..        [Repo Hacktoberfest2k18](https://github.com/fineanmol/Hacktoberfest2k18)

[2018-10-09 04:54] fineanmol commented on #1292
Just Check this Repo Also of Hacktober Fest to win T-shirt ..        [Repo Hacktoberfest2k18](https://github.com/fineanmol/Hacktoberfest2k18)

[2018-10-09 04:54] fineanmol commented on #1140
Just Check this Repo Also of Hacktober Fest to win T-shirt ..        [Repo Hacktoberfest2k18](https://github.com/fineanmol/Hacktoberfest2k18)

[2018-10-09 04:55] fineanmol commented on #100
Just Check this Repo Also of Hacktober Fest to win T-shirt ..        [Repo Hacktoberfest2k18](https://github.com/fineanmol/Hacktoberfest2k18)

[2018-10-09 04:55] fineanmol commented on #101
Just Check this Repo Also of Hacktober Fest to win T-shirt ..        [Repo Hacktoberfest2k18](https://github.com/fineanmol/Hacktoberfest2k18)

[2018-10-09 04:55] fineanmol commented on #786
Just Check this Repo Also of Hacktober Fest to win T-shirt ..        [Repo Hacktoberfest2k18](https://github.com/fineanmol/Hacktoberfest2k18)

[2018-10-09 17:35] kacperlsky commented on #162
Could you add me?
[HelloWorld.java.zip](https://github.com/AliceWonderland/hacktoberfest/files/2461555/HelloWorld.java.zip)

[2018-10-11 08:48] sachincool commented on #1140
#3891 Please take a look

[2018-10-11 08:48] muskan09 commented on #1140
Please review  #3890
Thank You!

[2018-10-11 18:43] TomerPacific commented on #100
@fineanmol ,
I still don't understand what is wanted since there are already links explaining these issues.

[2018-10-12 23:16] totorome6 opened #3999 "hi im new 1 b martin st.edmunston nb.ca e3v2l8"
looking for cold fusion.......

[2018-10-12 23:17] totorome6 commented on #3999
have nt.5.5

[2018-10-12 23:18] totorome6 commented on #3999
good newly monumb.

[2018-10-12 23:18] totorome6 commented on #3999
different double comand style.

[2018-10-12 23:19] totorome6 commented on #3999
virtual coponent computer ...memorie.

[2018-10-16 01:42] beatorizu commented on #786
Hi, @AliceWonderland. I would like to help :grin:

[2018-10-21 04:05] sebassdc commented on #436
@AliceWonderland Ill like to help

[2018-10-21 09:09] manigedit commented on #1140
Namaste there @StevenCopeland  Please have a look at my PR   #4551  ..
With Thanks.

[2018-10-29 20:36] ksandhu16 commented on #101
Can I work on this?

[2018-10-30 01:34] liliballe commented on #163
Hi there, Can I still add to this?

[2018-10-30 10:43] brokenwiings opened #4997 "Added me"

[2018-10-31 16:17] BlackMG27 commented on #3226
added my name to the profile list.

[2019-02-04 11:07] Dishebh commented on #1292
Added name, a profile page and created a C++ script to print "Hello World!".

[2019-02-04 11:33] Dishebh commented on #162
Added Hello World script! # #

[2019-02-04 11:34] Dishebh opened #5140 "Could you add me?"

[2019-02-21 06:22] KuochAriya commented on #5140
Of course! Why not!

[2019-09-25 08:38] koppor opened #5173 "Will there be a 2019 version with a fresh repository"
Proposal to start a fresh hacktoberfest repo with the same URL.

1. Rename this repository to hacktoberfest-2017
1. Archive hacktoberfest-2017 (github settings)
2. Create a new repository https://github.com/AliceWonderland/hacktoberfest/ with empty CONTRIBUTORS and profiles

Reason:

- The 2017 history is properly archived
- 2017 is not mixed with 2019
- newcomers are not confused about the mass o

[2019-09-30 21:48] parikshitgupta1 opened #5229 "New Files"
Comment for the new files

[2019-10-01 05:53] AliAzaz commented on #1140
Please review pr [#5227](https://github.com/AliceWonderland/hacktoberfest/pull/5227)

[2019-10-01 07:25] vJechsmayr commented on #5173
Find a similar repo here:
[https://github.com/vJechsmayr/hacktoberfest2019](https://github.com/vJechsmayr/hacktoberfest2019)

[2019-10-01 09:48] hacktoberfest-team opened #5296 "Pull requests here won’t count toward Hacktoberfest."
Hi there,

Thank you for your interest in Hacktoberfest and in helping others make their first contributions to open source.

While we agree that it's important to help others, this repository does not do this in a way that is in line with [the Hacktoberfest values](https://hacktoberfest.digitalocean.com/details). Please read the part that talks about high-quality contributions to understand why w

[2019-10-01 21:01] koppor commented on #5173
@vJechsmayr The idea was to re-use the repository: [Cool URIs don't change](https://www.w3.org/Provider/Style/URI.html).

Moreover, I am against repositories just collecting PRs. See my last bullet point at https://github.com/mattjegan/awesome-hacktoberfest/pull/24.

[2019-10-01 22:01] roerohan commented on #436
@AliceWonderland I would like to help!

[2019-10-02 13:06] ezralazuardy opened #5467 "Other hacktoberfest starter repo"
https://github.com/ezralazuardy/hacktoberfest

[2019-10-02 23:01] koppor commented on #5467
The repository is archived. I think, it was regarded as spam.

[2019-10-02 23:02] koppor commented on #5173
This repository is excluded. See https://github.com/AliceWonderland/hacktoberfest/issues/5296.

[2019-10-02 23:02] #5173 closed, assigned to nobody

[2019-10-03 00:30] ezralazuardy commented on #5467
it's now opened :)

[2019-10-03 01:45] Iqlaas commented on #5467
@koppor, yup. if create PR it won't be counted as well.

[2019-10-03 02:36] ezralazuardy commented on #5467
;)

[2019-10-03 02:36] #5467 closed, assigned to nobody

[2019-10-03 09:39] ghost commented on #81
@AliceWonderland  can I work on this isssue?

[2019-10-07 11:32] Whizkevina commented on #436
Is there any I contribute too!

[2019-10-07 14:52] kushaggarwal commented on #163
Hi
Can I proceed with the addition of my name as per the convention mentioned above

[2019-10-13 21:06] debdutgoswami opened #5955 "VIOLATION OF TERMS AND CONDITIONS"
This repository violates Hacktoberfest 2019's Terms and Conditions.

While this repository might me good for starters but certainly, allowing to merge PRs of "hello world" shows that the main objective is to complete Hacktoberfest and claim a free t-shirt. Such behavior is highly condemned.

This repository will be taken down soon.

Regards.

[2019-10-14 05:54] #5955 closed, assigned to nobody

[2019-10-15 11:37] CHIKELUJANEUCHENNA opened #6004 "Hello World"

[2019-10-15 17:29] bansaljas commented on #1292
Can we still make contributions?

[2019-10-15 17:31] bansaljas commented on #163
Can I still add to the list?

[2019-10-16 19:40] fineanmol commented on #6004
Just Check this Repo Also of Hacktober Fest to win T-shirt .. Repo [Hacktoberfest2k19](https://github.com/fineanmol/Hacktoberfest2k19)

[2019-10-21 00:48] althaafridha opened #6126 "package com.zyanxx.juzamma;"
package com.zyanxx.juzamma;

import android.content.Context;
import android.media.MediaPlayer;
import android.view.LayoutInflater;
import android.view.View;
import android.view.ViewGroup;
import android.widget.BaseAdapter;
import android.widget.ImageView;
import android.widget.TextView;

import java.util.ArrayList;

/**
 * Created by irsyad198 on 10/21/18.
 */

public class CustomAdapter extends B

[2020-03-02 10:05] player2-ctr commented on #5229
Hi

[2020-09-12 07:34] AnkitKumar2698 commented on #81
I am also work on this issue to be my first contribution

[2020-09-28 03:51] msopyan opened #6552 "hello"
hello word

[2020-09-29 10:56] chinmaikaveti2001 commented on #6004
Hi!...sir  can u pls assign this issue to me...?
I want to work  on this issue.....

[2020-09-29 11:26] chinmaikaveti2001 commented on #6552
hi! sir  can u pls assign this issue to me....?
I want to work on this issue.....

[2020-09-30 14:52] Abhishek765 opened #6567 "Done with My Profile! #6566"

[2020-09-30 14:53] #6567 closed, assigned to nobody

[2020-09-30 20:41] Mu-C00L commented on #6552
I want to work on this issue

[2020-10-01 03:44] kashishvir commented on #101
can I work on this?

[2020-10-01 04:27] KerinPithawala commented on #1140
Please review my pr #6615

[2020-10-01 07:41] akshay399 commented on #101
may i work on this

[2020-10-02 04:30] praney-pareek opened #6779 "can i work on this for hacktoberfest"

[2020-10-02 07:36] kdrag0nx commented on #6004
i want to work with this could you please assign to me??

[2020-10-02 08:13] #6552 closed, assigned to nobody

[2020-10-02 09:17] mmuhamadamirzaidi commented on #1140
Hi. Feels free to contribute to my repository also :D

[https://github.com/mmuhamadamirzaidi/Hacktoberfest](https://github.com/mmuhamadamirzaidi/Hacktoberfest)

[2020-10-02 13:19] jhudaz opened #6835 "Participation Hacktoberfest 2020"
Still open for pull requests?

[2020-10-02 15:09] #5229 closed, assigned to nobody

[2020-10-02 15:36] ShashankAgarwal77 commented on #6835
+1

[2020-10-03 05:41] vin003 opened #6896 "Myworld.py"
Print("helloworld")

[2020-10-03 05:42] #6896 closed, assigned to nobody

[2020-10-03 08:27] favourch commented on #436
I'll like to help you out and become a contributor!! Love what you are doing!

[2020-10-04 03:32] MokshTehlan commented on #6835
i would like to contribute

[2020-10-04 03:42] MokshTehlan commented on #6835
please accept my proposal for this work

[2020-10-04 09:32] anjalijp commented on #162
git commit

[2020-10-04 09:44] #5140 closed

[2020-10-05 15:05] ishgary opened #7066 "Please add your repo to this hacktoberfest by using its tag"
Please add your repo to this hacktoberfest by using its tag

[2020-10-05 17:04] lowjack1 commented on #436
Hi @AliceWonderland,  I am interested to be a collaborator.

[2020-10-08 08:30] rishavjaiss commented on #1292
Hey can I make contributions?

[2020-10-09 18:52] shivambhat opened #7239 "Does PR in this repo count towards #hacktoberfest2020 ?"

[2020-10-09 19:07] SoftCreatR commented on #7239
Nope. See https://github.com/AliceWonderland/hacktoberfest/issues/5296

[2020-10-09 20:33] carlosserretquerol opened #7240 "How can I help?"
Hi I'm new at github and my experience with code is from the last 2 years with some months of innactivity in between.

Is there any task I could do or somethings I need to learn if I only have a small experience in Js, Ruby, Java, C++, Python?

Feel free to ask me from email if you have some suggestions or projects I could help you with - al386762@uji.es

[2020-10-10 11:00] vrbro commented on #7239
Hey @shivambhat if you get to know any other way of checking (if PR counts in a repo) except:-

[code]
Then please tell

[2020-10-10 15:23] shivambhat commented on #7239
Till now honestly I checked few repos where I checked the label hacktoberfest2020 and contributed 8-9 times in few repos and made PR's out of which only 2/9 got approved and currently under review.
But to take PR's u need to propose changes in documentation or code and if the maintainer finds it useful, they will merge it within 2-3 days and if that takes more time, then consider it ineligible for

[2020-10-11 18:40] shivambhat commented on #7239
Once you submit a PR  in any repo, you will be able to see in dashboard if it is eligible for  hacktoberfest2020 or not?

Dashboard link:https://hacktoberfest.digitalocean.com/profile

[2020-10-12 15:27] hDmtP commented on #436
Understandable, your repo has 5k+ PRs and for sure checking all the individual's PR is suffering. So yeah, I really want to help you with this case :)

[2020-10-14 09:05] ron2111 commented on #436
i can helpp

[2020-10-14 11:18] aman7heaven opened #7364 "aman.md"
how can i help?

[2020-10-17 11:37] I3han commented on #1140
Please review my pr #7489 @AliceWonderland

[2020-10-18 17:42] anikdatta05 opened #7557 "Adding Hello Script"
I would like to add hello World Script for Hacktoberfest 2020

[2020-10-18 17:45] anikdatta05 opened #7558 "Hello World Script"
I would like to add Hello  World script

[2020-10-18 17:46] #7557 closed, assigned to nobody

[2020-10-18 17:46] #7558 closed, assigned to nobody

[2020-10-18 17:47] anikdatta05 commented on #162
I want to add hello world script for hacktoberfest 2020

[2020-10-19 19:57] srishtij2000 commented on #163
Can I also contribute?

[2020-10-20 07:21] Illusion47586 commented on #1140
@AliceWonderland please review my PR #7620, thanks!

[2020-10-21 21:35] tanmaysarin commented on #7364
Is this repo active?

[2020-10-21 21:35] tanmaysarin commented on #7066
Is this repo still active for Hacktoberfest 2020?

[2020-10-24 13:07] DishantIsrani commented on #7239
hi @shivambhat can you guide me how to do this i have been doing this for the first time and learning yet can you help?

[2020-10-26 05:37] Abhi-1001 commented on #1140
@AliceWonderland, please review my PR #7810, thank you!

[2020-10-26 20:13] wi6n3l commented on #1140
@AliceWonderland
Take a look at my PR pls!
https://github.com/AliceWonderland/hacktoberfest/pull/7784

[2020-10-27 15:29] bcstarke opened #7846 "hacktoberfest contribution"
How can I help?

[2020-10-29 06:10] keshavsingh3197 commented on #7239
@DishantIsrani don't be panic if your are doing this first time . If you stuck in any problem then search google or find the solution of that problem on youtube etc... **solution is avilable of each problem mostly online.**

If you are capable of finding solution yourself then it is better for you.

[2020-11-25 10:44] sabry2020 commented on #7240
If you want to learn Js I recommend you to start with making a simple calculator like this
![img](https://user-images.githubusercontent.com/61365375/100217267-f1a9ed80-2f1b-11eb-97ae-36fe560e30f6.png)

[2021-05-24 03:30] Ali-Murtaza143 opened #7962 "Ali"
HACKTOBERFEST

[2021-09-27 15:32] Pradumn-18 commented on #436
I hope that can be achieved through github action as well. Auto-merge is a feature but I hope getting a green tick is good enough proof to show that syntactically code is correct but, maybe a personal merge would be better than that.

[2021-09-30 02:07] HarshKumarChoudary commented on #101
Please assign this task to me. Thanks!!

[2021-09-30 03:05] Harsh-0986 commented on #436
Interested

[2021-09-30 18:23] rishab0902 commented on #163
@AliceWonderland Can I still add to the list?

[2021-09-30 18:55] iprinceroyy commented on #100
what's the issue?

[2021-09-30 20:06] therohit777 commented on #436
Hi , @AliceWonderland Interested to be a collaborator

[2021-10-01 02:36] sauravrishu9810 commented on #6835
I would like to contribute as if I posses all the skills required to fulfill this project .

[2021-10-01 02:36] sauravrishu9810 commented on #6779
I would like to contribute

[2021-10-01 02:38] sauravrishu9810 commented on #7239
I would like to contribute as I posses all the skills required to fulfill the project

[2021-10-01 03:04] sauravrishu9810 commented on #81
I would like to contribute as I posses all the skills required to fulfill the project and also apart I have past experience and was contributed last year to the project.

[2021-10-01 05:25] isha614 commented on #163
Can I still add, will it be count in hacktoberfest2021?

[2021-10-01 06:15] rustzz-27 commented on #163
Hello,
I would like to also add my details to your repository. So, pls assign this issue to me under hacktoberfest 2021

Thanks

[2021-10-01 09:23] vijaygupta18 opened #8110 "Hacktoberfest contribute here"
For easy contribution create pr on this repo.

https://github.com/vijaygupta18/Hacktoberfest-2021

[2021-10-01 09:53] Shubham56-droid commented on #163
i would like to contribute pls add me to it.

[2021-10-01 10:24] viralkumar28 commented on #163
i want to contribute pls add me.

[2021-10-01 11:54] Akriti-05 commented on #101
May I contribute in this?

[2021-10-01 13:27] khareyash05 opened #8156 "add contributing.md"
I would like to add contributing.md

[2021-10-01 13:41] byteknower commented on #8156
Danda Umasai Anvesh Reddy

[2021-10-01 15:23] soumyajit1999 commented on #1292
I can contribute

[2021-10-01 15:36] soumyajit1999 commented on #163
I am interested to contribute in this project

[2021-10-01 18:28] fineanmol opened #8228 "Contribute on https://github.com/fineanmol/Hacktoberfest2k21 to merge ✨"
October Fest is only completed, when your pull request merge.
Make a contribution on [https://github.com/fineanmol/Hacktoberfest2k21](https://github.com/fineanmol/Hacktoberfest2k21) to confirm merge to master branch ✨

[2021-10-01 18:29] fineanmol commented on #8156
October Fest only completed, when your pull request merge.
Make a contribution on https://github.com/fineanmol/Hacktoberfest2k21 to confirm merge to master branch ✨

[2021-10-01 18:29] fineanmol commented on #8110
October Fest only completed, when your pull request merge.
Make a contribution on https://github.com/fineanmol/Hacktoberfest2k21 to confirm merge to master branch ✨

[2021-10-01 18:30] fineanmol commented on #7846
October Fest only completed, when your pull request merge.
Make a contribution on https://github.com/fineanmol/Hacktoberfest2k21 to confirm merge to master branch ✨

[2021-10-01 18:30] fineanmol commented on #7962
October Fest only completed, when your pull request merge.
Make a contribution on https://github.com/fineanmol/Hacktoberfest2k21 to confirm merge to master branch ✨

[2021-10-01 18:32] fineanmol commented on #7066
October Fest is only completed, when your pull request merge.
Make a contribution on https://github.com/fineanmol/Hacktoberfest2k21 to confirm merge to master branch ✨

[2021-10-01 18:32] shorya258 commented on #101
@AliceWonderland Can I contribute to this?

[2021-10-01 18:33] shorya258 commented on #101
@AliceWonderland If no one's working on it, may I?

[2021-10-01 18:36] fineanmol commented on #101
Hello , October Fest is only completed when your pull request merges.
Make a contribution on [https://github.com/fineanmol/Hacktoberfest2k21](https://github.com/fineanmol/Hacktoberfest2k21) to confirm merge to master branch ✨

[2021-10-01 18:36] fineanmol commented on #101
Hello, October Fest is only completed when your pull request merges.
Make a contribution on [https://github.com/fineanmol/Hacktoberfest2k21](https://github.com/fineanmol/Hacktoberfest2k21) to confirm merge to master branch ✨

[2021-10-02 05:43] Aditya3403 commented on #163
Add my name to Contributer.md file.

[2021-10-02 05:44] Aditya3403 commented on #163
Added my name to contributer.md file.

[2021-10-02 09:36] chetanbhasneydev commented on #163
- Place: Kalyan, Maharashtra, India
- Bio: Student studying in Second year (B-Tech) In IT
- GitHub: Chetan Bhasney(https://github.com/chetanbhasney02)

[2021-10-02 09:41] debanjanpaul10 opened #8317 "Issue with merging"
Please try to review all the PRs as new PRs are not merging.

[2021-10-02 10:44] TAnilkar opened #8327 "CONTRIBUTORS.md"
Name: Tejas Anilkar (https://github.com/TAnilkar)
- Place: Amravati, Maharashtra, India
- Bio:
- Hi,
- I am Tejas Anilkar, And I am Student at Government Polytechnic Amravati, Studied in branch Information Technology. Currently I completed my Diploma and searching for a collage for further education.
- GitHub: TAnilkar (https://github.com/TAnilkar)

[2021-10-02 10:48] Roshan5401 commented on #162
hello world in python

[2021-10-02 12:49] ashfaqnaha opened #8350 "hey"

[2021-10-02 12:49] #8350 closed, assigned to nobody

[2021-10-02 13:56] sahilrawat001 commented on #8327
Name:Sahil Rawat
Collage: Punjabi University
github : [https://github.com/sahilrawat001](url)

[2021-10-02 14:13] ViyyapuHamitha commented on #8327
Name: Viyyapu Hamitha
College: GITAM Deemed to be University
Currently pursuing B.Tech Second Year in Computer Science and Engineering.
GitHub:  https://github.com/ViyyapuHamitha

[2021-10-02 14:24] ViyyapuHamitha commented on #163
- Name: Viyyapu Hamitha (https://github.com/ViyyapuHamitha)
- Place: Visakhapatnam, Andhra Pradesh, India.
- Bio: Second Year Student of B.Tech in Computer Science and Engineering at GITAM Deemed to be University, Visakhapatnam.

[2021-10-02 14:49] prachi0117 commented on #8327
Name: Prachi Gupta
College: Lakshmi Narain College of Technology and Science, Bhopal
Currently, I'm in Second year pursuing BTECH from Computer Science and Engineering.
GitHub profile: https://github.com/prachi0117

[2021-10-02 15:28] adarshgowdaa commented on #163
Added my name to contributer.md file.

[2021-10-02 17:00] adityaasawant commented on #1140
Please review my PR #8377

[2021-10-03 03:22] sourav-mishra-889 commented on #163
added data to CONTRIBUTORS.md
[CONTRIBUTORS.md.txt](https://github.com/AliceWonderland/hacktoberfest/files/7272626/CONTRIBUTORS.md.txt)

[2021-10-03 03:26] sourav-mishra-889 commented on #163
done:)
[CONTRIBUTORS.md](https://github.com/AliceWonderland/hacktoberfest/files/7272636/CONTRIBUTORS.md)

[2021-10-03 03:27] sourav-mishra-889 commented on #163
[CONTRIBUTORS.md](https://github.com/AliceWonderland/hacktoberfest/files/7272641/CONTRIBUTORS.md) #2018

[2021-10-03 05:55] prsmahajan commented on #8327
Name : Paras Mahajan
College : Khalsa College, Amritsar
I am pursuing my Bachelors in Computer Applications and am a fresher now.
GitHub Profile : https://www.github.com/prsmahajan

[2021-10-03 06:39] Adityadamen commented on #8327
Name : S ADITYA
College : SRM UNIVERSITY KTR
I am pursuing my Bachelors in Computer Applications and am an enthusiast in AI and ML.
GitHub Profile: https://www.github.com/Adityadamen

[2021-10-03 06:39] Adityadamen commented on #6779
I would like to contribute

[2021-10-03 08:40] AdityaR6 commented on #1140
Aditya #8455

[2021-10-03 10:14] soham0511 commented on #8327
Name: Soham Srimany
College: Jadavpur University
I am pursuing my Bachelor's degree.
Github Profile: https://github.com/soham0511

[2021-10-03 11:11] Blankita21 commented on #163
Added my info to CONTRIBUTORS.md file. #8466

[2021-10-03 11:13] Rohit5152 commented on #163
Maam I also want to add

[2021-10-03 11:20] kshitij-gavhane commented on #8327
Name: Kshitij Gavhane
College: Nagpur University
I am pursuing my Bachelor's degree in Computer Science  Engineering .
Github Profile: https://github.com/kshitij-gavhane

[2021-10-03 16:53] ash051 commented on #163
#### Name: Aayush  (https://github.com/ash051)
- Place: Nashik, Maharashtra, India
- Bio: I am a student
- GitHub: Aayush (https://github.com/ash051)

[2021-10-04 03:35] tirth2707 opened #8519 "file"
#### Name: [Tirth Shah](https://github.com/tirth485)
- Place: Ahmedabad, Gujrat, India
- Bio: Student
- GitHub: [Tirth Shah](https://github.com/tirth485)

[2021-10-04 05:59] Ashu-1309 commented on #8327
Name: Ashutosh Kumar Saw
College Narula Institute of Technology
I am pursuing Bachelor's Degree in Computer Science Engineering/
Github PRofile:-https://github.com/Ashu-1309

[2021-10-04 06:01] Ashu-1309 opened #8532 "Ashutosh contribution"
Name: Ashutosh Kumar Saw
College Narula Institute of Technology
I am pursuing Bachelor's Degree in Computer Science Engineering/
Github PRofile:-https://github.com/Ashu-1309

[2021-10-04 09:53] riya244 commented on #8110
hi, i want to contribute in this issue, please assign me this issue @fineanmol

[2021-10-04 13:09] Sandhya312 commented on #163
- Name: [SANDHYA KUMARI}( https://github.com/Sandhya312)
- Place: ALLAHABAD,UTTAR PRADESH,INDIA
- Bio: I am a student, perusing BTech in the CSE branch.
- GitHub: [Sandhya312](https://github.com/Sandhya312)

[2021-10-04 15:15] #8110 closed, assigned to nobody

[2021-10-04 18:30] Utsaviranjan commented on #1292
I pertain the skills required for the completion of this task. Please do have a look at my profile and assign me the issue. Thanks.

[2021-10-04 19:06] trip-mahak commented on #8327
Name: Mahak Tripathi
College: Jabalpur Engineering College, Jabalpur
I am pursuing my Bachelor's degree in Computer Science Engineering .
Github Profile: https://github.com/trip-mahak

[2021-10-04 19:39] luisdasilvahenrique commented on #8327
Name: Luís Henrique
College: Federal University of Ceara
I'm a computer networking student .
Github Profile: [Github](https://github.com/luisdasilvahenrique)

[2021-10-05 05:04] harshkumar950461 commented on #163
Name: Harsh Kumar(github.com/harshkumar950461)
- Place: Gaya, Bihar, India
- Bio: Web Developer
- GitHub: Harsh Kumar(github.com/harshkumar950461)

[2021-10-05 07:57] Avijeet341 commented on #163
this is  my first time contribution , so i really want to  contribute in this project pls.

[2021-10-05 14:03] KulkarniKrishna commented on #1140
hey! kindly review mine #8585 . Thanks.

[2021-10-06 06:01] AshishG97 commented on #162
I would like to contribute to it.

[2021-10-06 06:52] shubhamSM1298 commented on #1140
@AliceWonderland, please review my PR #8680, thank you!

[2021-10-07 03:15] nuruslaily opened #8719 "Added label hacktoberfest_accepted"
i added label hacktoberfest_accepted

[2021-10-07 05:31] Ashp1st commented on #8327
Name: Yash Pandey
Place: Jhansi, uttarpradesh, India
Bio: Hi,
I am Yash, And I am Student at St. Xaviers, in-11th. Currently, searching for a college for further education.

GitHub:
https://github.com/Ashp1st

[2021-10-07 07:24] Bahukhandi93 commented on #1292
Please assign this issue to me. Thank you!

[2021-10-07 12:06] Bahukhandi93 commented on #786
Hey, could I contribute to this? Please assign an issue to me. Thank you!

[2021-10-07 12:43] arpitajadhav155 commented on #163
Name : Arpita jadhav(https://github.com/arpitajadhav155)

Place:Umarkhed,maharashtra ,India
Bio : Student,Persuing B T ech in CSE.
Github : Arpita jadhav(https://github.com/arpitajadhav155)

[2021-10-07 20:03] amanrk28 commented on #436
Hey @AliceWonderland I'd like to help review PRs as a collaborator!

[2021-10-08 02:27] ErzaTitania-2001 opened #8761 "Ahana Contribution"
Name: Ahana Pal
College: RCC Institute Of Technology
I am pursuing Bachelor's Degree in Computer Science Engineering/
Github PRofile:-https://github.com/ErzaTitania-2001

[2021-10-08 13:46] akshat-kumar2109 commented on #162
Created a PR for hello_world_akshat.java @AliceWonderland

[2021-10-08 14:50] aayush51 commented on #1140
@AliceWonderland @StevenCopeland @Busterz  please review my PR #8442

[2021-10-08 15:29] adityaasawant commented on #1140
@AliceWonderland  Please review my PR #8377 Thanks.

[2021-10-09 09:47] gargig02 commented on #1140
@AliceWonderland Please review my PR https://github.com/AliceWonderland/hacktoberfest/pull/8812. Thanks

[2021-10-09 12:50] siddhii20 opened #8818 "Does PR to this repo count for hacktober fest 2021"

[2021-10-09 15:04] SakshamSharma09 commented on #1140
@AliceWonderland  PLease review my PR #8825.
Thanks for this amazing repo.

[2021-10-10 09:07] YuvrajSHAD commented on #8818
don't Know, We need to review each other PR for Automatic Merge. Then It Counts. The Owner is Offline and he is not reviewing these changes

[2021-10-12 06:14] jsomya260 commented on #7846
how can I help with html

[2021-10-13 20:38] s-tampae commented on #162
I would like to contribute to this please.

[2021-10-14 17:49] agraghav26 commented on #163
I have made a PR please review it and merge it #8985 .

[2021-10-15 04:22] codetravellearn commented on #8156
please review my PR  #8992

[2021-10-17 08:32] nh037 commented on #163
Hello,
I would like to also add my details to your repository. So, pls assign this issue to me under hacktoberfest 2021

Thanks

[2021-10-17 08:32] nh037 commented on #163
Hello,
I would like to also add my details to your repository. So, pls assign this issue to me under hacktoberfest 2021

Thanks

[2021-10-17 16:28] KaizenGirl1111 commented on #8818
can we make a PR?

[2021-10-17 19:54] prabhavagrawal7 commented on #436
I am interested as a reviewer !

[2021-10-18 03:24] YuvrajSHAD commented on #8818
i already mentioned, to make your pR merged, someone need to review and verify it and then automatic merge will take place if all things are ok..... cause the owner is not online i think!

[2021-10-18 10:21] #8156 closed, assigned to nobody

[2021-10-18 13:49] sachin8958 commented on #162
// LANGUAGE: C++
// AUTHOR: Sachin8958
// GITHUB: https://github.com/sachin8958
#include <iostream>

int main() {
    std::cout << "Hello World!";
    return 0;
}

[2021-10-18 20:41] LazyMagician commented on #1292
Hey I would like to contribute. Have a look at my profile and assign me this issue.

[2021-10-19 06:21] SohailAkhtar780 opened #9105 "adding my Contribution to Hacktoberfest 21"
#### Name: [Sohail Akhtar](https://github.com/SohailAkhtar780)
- Place: Patna, Bihar, India
- Bio: I am an Engineering Student?
- GitHub: [SohailAkhtar780](https://github.com/SohailAkhtar780)

[2021-10-19 06:26] SohailAkhtar780 commented on #9105
Please assign this to me  , Happy Hacktober @AliceWonderland

[2021-10-19 07:54] harshkumar950461 opened #9107 "Name: Harsh Kumar(github.com/harshkumar950461)"
Name: Harsh Kumar(github.com/harshkumar950461)
- Place: Gaya, Bihar, India
- Bio: Web Developer
- GitHub: Harsh Kumar(github.com/harshkumar950461)

_Originally posted by @harshkumar950461 in https://github.com/AliceWonderland/hacktoberfest/issues/163#issuecomment-934065150_

[2021-10-19 08:25] sarkar-codes commented on #1292
i want to work on this issue . Please assign this issue to me

[2021-10-19 09:11] LazyMagician commented on #162
I would like to contribute to it @AliceWonderland as my first contribution to hacktoberfest 2021.

[2021-10-19 09:13] LazyMagician commented on #81
I would like to contribute as my first contribution .Please look at my profile and assign me.
@AliceWonderland

[2021-10-19 14:07] LazyMagician commented on #163
I would like to add my details to your repository. Please assign this issue to me under hacktoberfest 2021 @AliceWonderland

[2021-10-19 17:09] sachin8958 commented on #162
I would like to contribute to it sachin8958 as my first contribution to hacktoberfest 2021.

[2021-10-19 19:13] SohailAkhtar780 commented on #9105
Please assign me

[2021-10-19 19:13] #9105 closed, assigned to nobody

[2021-10-20 06:02] abdulmannannadkar opened #9126 "Name"
Abdul Mannan Nadkar
Location - India

[2021-10-20 14:34] tejasvising commented on #1292
Hey,I would like to contribute to this issue. Could you please assign it to me?

[2021-10-20 14:34] shin-iji commented on #163
Hello, I want to do this.

[2021-10-20 17:55] HeyySuraj opened #9154 "add python script"

[2021-10-20 20:05] Mihir008 commented on #1292
sir can i contribute in this? . I would like to do this.

[2021-10-21 03:57] #8228 closed, assigned to nobody

[2021-10-23 12:31] kanchan905 opened #9225 "Please added me to contribute in it"

[2021-10-23 16:15] Nikhil3389 commented on #9225
I want to contribute. Can i contribute?

[2021-10-23 16:50] Sumant03 opened #9231 "React Interview Questions"
Hi there

Add me as a contributor in your repo, I will add js and react frequently asked interview questions.

Thanks

[2021-10-25 12:08] joe-pierre opened #9265 "Contribution request"
Hi, I want to be a contributor !

[2021-10-26 04:58] abhishek-munda commented on #9265
Please read and follow the contribution guide provided in README.md file and make a PR to contribute.

[2021-10-26 11:42] joe-pierre commented on #9265
Thanks ! I'm doing it. 👍

[2021-10-26 12:12] #9265 closed, assigned to nobody

[2021-10-26 18:30] AmanMaurya27 commented on #163
Name: Aman Maurya (https://github.com/AmanMaurya27)
- Place: Lucknow, Uttar Pradesh, India
- Bio: I am a pre-final year student of B.tech CSE
- GitHub:  Aman Maurya (https://github.com/AmanMaurya27)

[2021-10-27 03:54] Ashiiidev opened #9298 "new should make index .js more better"
help me

[2021-10-27 03:54] Ashiiidev commented on #9298
and you should foccasing on adding more and more finction

[2021-10-27 03:55] Ashiiidev commented on #8818
i already mentioned, to make your pR merged, someone need to review and verify it and then automatic merge will take place if all things are ok..... cause the owner is not online i think!

[2021-10-27 03:55] Ashiiidev commented on #8719
i added label hacktoberfest_accepted

[2021-10-27 03:56] Ashiiidev commented on #8519
Name: Ashish upa
Place: Gwalior, India
Bio: app dev
GitHub: profile ashsuh dev

[2021-10-27 05:17] isletprogramiz commented on #6004
first working with pull request . i find it good for my start. So will you please assign me this issue.

[2021-10-27 05:19] isletprogramiz commented on #9126
first working with pull request . i find it good for my start. So will you please assign me this issue. Also want to participate in hactoberfest

[2021-10-27 05:23] kdrag0nx commented on #6004
yeah you can work on it

On Wed, Oct 27, 2021 at 10:47 AM Shilpi Kumari ***@***.***>
wrote:

[2021-10-29 05:56] Umar293 opened #9344 "Please assign me this issue"

[2021-10-29 06:41] Tc2r1 commented on #8818
@YuvrajSHAD  @KaizenGirl1111  @Ashiiidev  if you make a [PR on mine asap i'll definitely](https://github.com/Tc2r1/DevInterview_Questions) be online to approve :)

[2021-10-30 05:57] baebhavv commented on #9344
Hey can you assign me this issue

[2021-10-30 11:34] ghost commented on #6004
Hi can you assign this issue to me.

[2021-10-30 15:14] kdrag0nx commented on #6004
Assigned

On Sat, Oct 30, 2021, 5:04 PM rajag02 ***@***.***> wrote:

[2021-10-30 19:04] Vaibhavpan02 commented on #9344
hey this is my first time contributing in hcktoberfest.Can you please assign me this issue

[2021-11-12 12:32] naahi-rihan opened #9415 "flutter project"

[2022-09-22 07:32] Sergi0456 commented on #6004
Please assign me Sir it's Great opportunity to work with you ..!!

[2022-09-26 18:34] Atharv-Nalwade commented on #9231
Can you clarify what do you exactly want to solve or wish to add
I have worked with react and would like to work on the issue when stated clearly so assign me this issue

[2022-09-27 17:13] Kinshuk2003 commented on #162
i would like to contribute to it as my first contribution to the hacktoberfest 2022

[2022-09-29 20:41] georgioupanayiotis commented on #9154
@Dr-blue-cyber can i take this ?

[2022-10-01 07:11] JotiradityaB commented on #162
can i be assigned this issue?

// LANGUAGE: C#
// AUTHOR: Jotiraditya Banerjee
// GITHUB: https://github.com/JotiradityaB

namespace HelloWorld
{
    class Hello {
        static void Main(string[] args)
        {
            System.Console.WriteLine("Hello World!");
        }
    }
}

[2022-10-01 10:19] kartikver15gr8 commented on #9298
What is this issue all about tell me??

[2022-10-01 11:31] Ashiiidev commented on #9298
It is about your make website more beautiful and cool

[2022-10-01 11:35] Ashiiidev commented on #9298
I your add your profile page or you can help in making website beautiful

On Sat, 1 Oct, 2022, 3:49 pm Kartikey Verma, ***@***.***>
wrote:

[2022-10-01 13:08] Vasu604 opened #9547 "creating issue for me"

[2022-10-01 14:27] Aniketmishra0 commented on #8327
Name: Aniket Mishra
Collage: Indira College of engineering & management
GitHub : [https://github.com/aniketmishra0](https://github.com/AliceWonderland/hacktoberfest/issues/url)

[2022-10-01 14:35] dp-lisin11 commented on #436
I am interested @AliceWonderland

[2022-10-02 06:15] Shravanikale commented on #9547
Hey!! @AliceWonderland  Can you please merge my file #9614 for getting a step close my first merge!! [hacktoberfest2022]

[2022-10-02 11:17] Diptenusarkar commented on #9265
You can contribute to my rep.
All reps are pinned in my profile.

[2022-10-02 11:20] Diptenusarkar opened #9642 "Contribute on Website Temple & html.org.in to merge"
October Fest is only completed when your pull request merges.
Make a contribution on https://github.com/Diptenusarkar/Website-Template & https://github.com/Diptenusarkar/html.org.in to confirm the merge to the master branch ✨

[2022-10-02 12:32] kalyanjyoti11 commented on #9642
hi, would love to work on this. please, assign me this.

[2022-10-02 12:35] Diptenusarkar commented on #9642
Sure, make a request on a particular repository.

[2022-10-02 14:55] AkashDev23 commented on #8327
Name: Akash Dev
College: Institute of Technical Education and Research_
I'm a computer science student .
Github Profile: [Github](https://github.com/AkashDev23)

[2022-10-04 09:43] sumitbaroniya commented on #163
@AliceWonderland i have made PR please review and merge it, in that i have added my name.

[2022-10-04 11:38] Kinshuk2003 commented on #162
yeah sure

[2022-10-04 17:39] RajasBharambe commented on #9642
hi, please assign me this issue

[2022-10-04 18:13] Diptenusarkar commented on #9642
Please follow right rep

[2022-10-05 09:17] WonderSTK opened #9851 "collaborator"
@AliceWonderland Interested to be a collaborator

[2022-10-05 12:12] sujal-garg commented on #9547
Please assign this issue to me

[2022-10-05 14:35] shobhit8797 commented on #9154
@Dr-blue-cyber Please give me the opportunity to edit this

[2022-10-05 15:54] sidhrth04 opened #9862 "Countdown timer using js"
@AliceWonderland , Please assign me this issue to create a countdown timer using javascript on profile cards using html and css
it will be a great help if you assign me
thank you.

[2022-10-05 18:37] reshukr97 commented on #9862
Hi @AliceWonderland , I am new to OSC, can you please assign me this  issue?

[2022-10-06 06:28] ShrutiSingh04503 commented on #162
Hey, I'll love to work on this issue, Would appreciate it if you assign me.

[2022-10-06 06:59] bandevedant commented on #9107
Please assign me this issue for my first contribution to open source.

[2022-10-06 09:18] anmol111pal commented on #9862
Hey @AliceWonderland , please assign me this issue.

[2022-10-06 09:20] aasthad27 commented on #9862
hey @AliceWonderland  i am new to open source , please assign me this issue

[2022-10-06 09:22] aasthad27 commented on #9642
hey @Diptenusarkar i am new to open source , please assign me this issue

[2022-10-06 09:24] aasthad27 commented on #9126
hey , i want to get started with the hacktoberfest , i am new to open source , please assign me this issue

[2022-10-06 09:24] anmol111pal commented on #9298
Hey, please assign me this task.

[2022-10-06 09:26] #9298 closed, assigned to nobody

[2022-10-06 09:28] Diptenusarkar commented on #9642
Hay please look this two rep https://github.com/Diptenusarkar/Website-Template & https://github.com/Diptenusarkar/html.org.in
See you soon with your Code.
Thank You and Best of luck 🤞

[2022-10-06 10:40] Shubhamsingh2747 commented on #9231
Hey, please add me in the repo. I have faced few react interviews. I believe I can contribute.

[2022-10-06 15:05] Diptenusarkar commented on #9642
Make a contribution on https://github.com/Diptenusarkar/Website-Template & https://github.com/Diptenusarkar/html.org.in to confirm the merge to the master branch ✨

[2022-10-06 15:05] Diptenusarkar commented on #9642
Hay @aasthad27
Make a contribution on https://github.com/Diptenusarkar/Website-Template & https://github.com/Diptenusarkar/html.org.in to confirm the merge to the master branch ✨

[2022-10-06 15:06] Diptenusarkar commented on #9642
Hay @RajasBharambe
Make a contribution on https://github.com/Diptenusarkar/Website-Template & https://github.com/Diptenusarkar/html.org.in to confirm the merge to the master branch ✨

[2022-10-06 16:08] Manaswini123456 commented on #163
- Name: MANASWINI VOOLAPALLI
- Place: Noida, Uttar Pradesh, India
- Bio: Student pursuing BTECH in CSE and Web developer, Graphic designer
- GitHub: https://github.com/Manaswini123456

It's my first time in Hacktoberfest, hope to have a great time in connecting with you guys and contributing

[2022-10-06 18:53] ShrutiSingh04503 commented on #163
hi I'll love to work on this, would appreciate is you assign me.

[2022-10-06 21:38] kartiksaxena532 commented on #9862
hey @AliceWonderland  pls assign this to me

[2022-10-07 02:25] HIMU-2001 commented on #9862
Can I get to contribute here?

[2022-10-07 03:57] KaranSapra124 commented on #9862
I am new to open source and I have experience with counters as I have used them a lot in projects, kindly assign me this task.

[2022-10-07 06:49] siddakbagga13 opened #9928 "Add Code of conduct"
Hey @AliceWonderland assign this issue to me i will add code of conduct, and also add Hacktoberfest tag

[2022-10-07 09:42] tanvi1110 commented on #9107
assign me too !.. would love to work #hactoberfest

[2022-10-07 11:25] jyotika6221 commented on #9928
Assign me this issue please.

[2022-10-07 11:41] ATechAjay commented on #9862
I'm also getting started with my contribution with this project, so kindly assigned to me and also add the label of this issue with hactoberfest.

THANKS:)

[2022-10-07 12:06] bandevedant commented on #9107
Hello may I know is it assigned to me? Or you are asking it to get assigned
for.

On Fri, 7 Oct, 2022, 3:13 pm Tanvi, ***@***.***> wrote:

[2022-10-07 13:14] albetros24 commented on #9862
hey !@AliceWonderland  it would be a great opportunity for  me If I could resolve this issue I have already worked on this problem once

[2022-10-07 16:56] Utsav1999 opened #9949 "Repository Not Participating In Hacktoberfest 2022"
Dear All,

This repository is not aligned with the <b>Hacktoberfest 2022 values</b>. So, any PR opened in this repository will not be counted as a contribution.

Thank you.

[2022-10-07 18:15] Fardeen77 commented on #162
Hey, i would like to work on this issue, please assign me for this.

[2022-10-07 19:35] himanshu17-2000 opened #9957 "Create a 2 player connect four game"

[2022-10-08 06:50] jyotika6221 commented on #9862
hey please assign me this issue.

[2022-10-08 08:13] yesdhruv commented on #9862
Hey ! @AliceWonderland I could solve this problem because I've worked on Javascript projects similar to this before, and it would be a good plan for my open-source journey.

THANKS:)

[2022-10-08 08:17] Vidushi0001 commented on #81
Can I work on this issue?

[2022-10-08 10:19] Harsh-raj-x07 commented on #9862
Hello @AliceWonderland It would be a great opportunity for me If I could resolve this issue I have already worked on this problem once

[2022-10-08 10:30] yosaami commented on #9957
I want to contribute to this. Please assign me

[2022-10-08 12:02] Kunallion commented on #9862
hi @AliceWonderland I would like to contribute to it. If i get a chance then that would be great!

[2022-10-08 12:30] belikeakash commented on #9862
hi @AliceWonderland Please assign this to me

[2022-10-08 13:14] ajaybara commented on #162
i want to solve the issue
please assign me

[2022-10-08 18:03] Devesh18Sharma commented on #9928
@AliceWonderland Assign this issue to me I will make sure it enhances the UI of the website as well as fulfils its function...
Thanking you in Anticipation...
Regards
Devesh Sharma

[2022-10-09 03:04] JustNunuz opened #10020 "Compression Algorithm"
Create a compression algorithm

[2022-10-09 05:06] iamhere1811 commented on #9862
Hi @AliceWonderland Please assign this issue to me

[2022-10-09 10:46] 035pratheeksha commented on #9957
I would love to work on this.Please assign this to me @himanshu17-2000

[2022-10-09 11:02] iharshitjaiswal commented on #9862
Hii @AliceWonderland  this is my 1st contribution in hacktoberfest please assign it to me.

[2022-10-09 11:15] Neerajbhatia007 commented on #9862
Hi, I have already done this task so please assign it to me so that I can push my changes!

[2022-10-09 14:21] Parth-Panjwani commented on #9415
Hi, I want to post my small flutter project as part of hacktoberfest. Can I go for it?

[2022-10-09 15:17] BhupeshXD commented on #9862
i would like to contribute my idea @AliceWonderland cannn u assign me with this problem

[2022-10-09 15:24] imNilabja commented on #8327
Name: Nilabja Nyan Goswami
College: Kalinga Institute of Industrial Technology
I'm an Electronics Engineering student
Github Profile: https://github.com/imNilabja

[2022-10-09 17:22] suryanshsoni120 commented on #163
Name: Suryansh Soni
- Place: Mumbai, Maharashtra, India
- Bio: ECE B.Tech student, Android Developer
- GitHub: https://github.com/suryanshsoni120

[2022-10-09 19:50] Aryaman047 commented on #10020
Can you please detail the type of data and the language to be used for this, sir because I would like to contribute to it with my knowledge in it

[2022-10-10 04:09] kartikey-katara-sn11 commented on #10020
Hello Sir!
please assigned me this issue.

[2022-10-10 04:13] kartikey-katara-sn11 commented on #9957
Hello  @himanshu17-2000 Brother!
I'm totally beginner.
Please assign this to me and please guide me iff you can...

[2022-10-10 04:16] kartikey-katara-sn11 commented on #9928
Hello  @AliceWonderland Mam!
Please assign me this issue....

[2022-10-10 04:18] kartikey-katara-sn11 commented on #9862
Hello  @AliceWonderland Mam!!
please assign me this project.
I'll surely to do fix this assignment..

[2022-10-10 04:20] kartikey-katara-sn11 commented on #9547
Please assign me I'm new on GitHub and it's my first time on HACKTOBERFEST so please assign me ...

[2022-10-10 04:58] JustNunuz commented on #10020
Any language is fine. Just add a program to demonstrate the compression of data in some data structure (array,etc)

[2022-10-10 05:15] kondurihemant commented on #9862
Hello @AliceWonderland !!!
Please assign me this issue
I'll surely fix this issue for sure

[2022-10-10 05:38] kartikey-katara-sn11 commented on #10020
// Java Program to demonstrate
// Object Compression

import java.io.FileNotFoundException;
import java.io.FileOutputStream;
import java.io.IOException;
import java.io.ObjectOutputStream;
import java.io.Serializable;
import java.util.zip.GZIPOutputStream;
import java.io.File;

public class GFG {

	public static void main(String args[])
	{

		// Creating objects of Java Class Bill
		Bill b1
			= ne

[2022-10-10 05:40] kartikey-katara-sn11 commented on #10020
// Java Program to demonstrate
// Object Compression

import java.io.FileNotFoundException;
import java.io.FileOutputStream;
import java.io.IOException;
import java.io.ObjectOutputStream;
import java.io.Serializable;
import java.util.zip.GZIPOutputStream;
import java.io.File;

public class Solution {

	public static void main(String args[])
	{

		// Creating objects of Java Class Bill
		Bill b1

[2022-10-10 06:44] #10020 closed, assigned to nobody

[2022-10-10 08:47] Jayant-001 commented on #81
Hello, I am interested to work on  this issue.
Could you please assign it to me.

[2022-10-10 10:52] PranavSagar opened #10074 "want to add some value in this repo"
## how can I add value-
---
-  can add java code
- can add python code
- can make documentation for the data science field
- can make an explanation for SQL

[2022-10-10 16:41] Pankaj2025-1 commented on #9862
Hi @AliceWonderland Please assign this issue to me I will complete it in 20minutes

[2022-10-11 04:38] pranavhole commented on #9957
I would love to work on this. please assign this to me

[2022-10-11 04:57] mdzeeshan-2 commented on #9862
Hello @AliceWonderland Can you please assign this issue to me.

[2022-10-11 05:55] AbhishekKC16 commented on #10074
Hello Sir, can you assign this issue to me?

[2022-10-11 11:02] Keerikadan03 opened #10110 "Add hover nav bar project"
Project is made using HTML and CSS.

It has multiple features including hover animations and color changing animations.
It also describes how to make a drop down menu on hovering above an element using simplest code.
It also has the color changing boxes which activates on hovering.

[2022-10-11 11:03] Keerikadan03 commented on #10110
@AliceWonderland
I can solve this issue
could u assign me this issue?

[2022-10-11 11:04] Keerikadan03 commented on #10110
@AliceWonderland
I can solve this issue #10110
could u assign me this issue?

[2022-10-11 12:55] Amandeep603 commented on #9344
This is my first time in hackertoberfest . I want to contribute in this project. pls assign a issue to me.

[2022-10-11 14:55] Go3452 commented on #10110
i can solve this issue#10110
could u assign me this issue?

[2022-10-11 15:07] codin-AWMKAR commented on #10110
I Can solve this Issue as I have recently completed an exactly same project for my club's database website.
Assign Me This Project

[2022-10-11 15:38] iharshitjaiswal commented on #10110
can you please assign this issue , i can do it very easily

[2022-10-11 16:19] sneha-mariam commented on #10110
Hy,

I can solve this issue can u pls assign this to me?

[2022-10-11 17:42] Atharvasaraiya commented on #10110
well im new.. here i think i can solve this can you assign this prob to me?

[2022-10-11 17:43] Atharvasaraiya commented on #9415
can i work on this proj?

[2022-10-11 17:49] Parth-Panjwani commented on #9415
Sure @Atharvasaraiya go for it

[2022-10-11 19:13] vishxwas13 commented on #436
I am interested

[2022-10-11 20:57] HaydenCour commented on #81
Hello! Id like to work on this issue as well!

[2022-10-11 20:57] HaydenCour commented on #163
Hi! Could i work on this as well?

[2022-10-12 05:20] atul316 commented on #9862
I want to contribute

[2022-10-12 07:52] anshulsoni2010 commented on #9862
Hey ! @AliceWonderland I could solve this problem because I've worked on Javascript projects similar to this before, and it would be a good plan for my open-source journey.

THANKS:)

Check I have Created a  NewYear Countdown To 2023 - https://newyearcountdownbyanshulsoni.netlify.app/

[2022-10-12 07:53] anshulsoni2010 commented on #9862
[https://newyearcountdownbyanshulsoni.netlify.app/](url)

[2022-10-12 15:26] Athulsanthoshen commented on #7846
hi please assign me this issues.

[2022-10-12 17:55] CodeRyliCode commented on #162
I would like to work on this issue. Would appreciate if you assign to me.

[2022-10-13 04:58] annihilon commented on #10110
I can solve this issue adding hover color changing animations
can u assign me this issue?

[2022-10-13 16:58] Ishita2407 commented on #10110
Hi I can solve the issue , kindly assign this issue to me

[2022-10-13 18:29] MysteryHawk17 opened #10210 "Add a JS Calculator to the project."
HIi @AliceWonderland  I want to add a new JS calculator to the codebase. Please assign this issue to me .

[2022-10-13 19:53] Parth-2609 commented on #10210
heyy please assign this issue to me under the Hacktoberfest tag
<img width="272" alt="image" src="https://user-images.githubusercontent.com/103762350/195696191-13be50bd-8381-4719-a7c9-8943d77d790a.png">

[2022-10-14 04:52] SnehaDeshmukh28 commented on #10210
Heyy!! @AliceWonderland. I would love to add the JS Calculator to the project. Can you please assign that to me.

[2022-10-14 08:18] amitkroutthedev opened #10222 "Can i add my flask project"
@AliceWonderland  Can I contribute flask project in this.

[2022-10-14 09:45] Serajhub commented on #10210
can you assign this issue to me?

[2022-10-14 10:00] CODER-AsHuToSh commented on #10210
Hello, Can you please assign this issue to me?

[2022-10-14 12:10] MohammadRehanPatel opened #10226 "To add my Profile md file"
assign me with Hacktoberfest tag

[2022-10-14 18:39] srvjha commented on #10210
Can u please assign the issue to me ? I can create an multi-dimensional calculator which can perform both Normal as well as Scientific calculations

[2022-10-14 18:44] srvjha opened #10234 "Create Scientific Calculator"

[2022-10-14 18:45] srvjha commented on #10234
Creating an Scientific cal

[2022-10-14 18:45] #10234 closed, assigned to nobody

[2022-10-14 18:48] Serajhub commented on #10210
Can u please assign the issue to me . I can create JS  calculator .

[2022-10-15 05:51] Serajhub commented on #9862
Please assign this to me

[2022-10-15 08:51] arij33tt commented on #10210
@AliceWonderland

Can you please assign the issue to me . I created  JS calculator . you can have a look through this screenshot  or
try it out

[Github ](https://github.com/arij33tt/vanilla_js_calculator)

 [screenshot](https://github.com/arij33tt/vanilla_js_calculator/blob/master/ss_calc.jpg)

[2022-10-15 08:59] usamaatta commented on #8327
Name: Usama Atta
College: Government College University
I am Software Engineering and front-end engineer working in the tech industry and as a freelancer
 GitHub Profile: https://github.com/usamaatta

[2022-10-15 09:10] VALASALARAKESH commented on #10074
i can perform good in python so please assinge me to the issue i can help you with this

[2022-10-15 10:44] shaziaah19 commented on #10110
hii @AliceWonderland  ,please assign this issue to me , i think i can work on it really well

[2022-10-15 11:57] coderboy-yash commented on #10110
Hey I want to work on this .Pls assign this issue to me under hacktoberfest label

[2022-10-15 13:03] SanskarJain007 commented on #10210
@AliceWonderland Can you please assign this issue to me. I would love to contribute.
Link for the project : -
codepen link: - https://codepen.io/sanskarjain007/pen/ZExqyVW

[2022-10-15 18:10] axis1410 commented on #436
I am interested!!

[2022-10-16 03:58] saiteja2108 commented on #10226
what i ahve to do in this issue

[2022-10-16 03:58] saiteja2108 commented on #10226
what i have to do in this issue

[2022-10-16 05:07] theshubhamgour commented on #10226
Could you assign me this issue?

[2022-10-16 05:08] theshubhamgour commented on #10210
Could you assign me this issue?

[2022-10-16 05:32] 022003harsh commented on #10110
Hi @AliceWonderland please assign this work to me . I will be using much good transitions in it using some animations .

[2022-10-16 06:19] Ajeet2007 commented on #9126
first working with pull request . i find it good for my start. So will you please assign me this issue. Also want to participate in hactoberfest
so please

[2022-10-16 06:21] Ajeet2007 opened #10274 "New Isssue is here"
first working with pull request . i find it good for my start. So will you please assign me this issue. Also want to participate in hactoberfest
so please

[2022-10-16 06:23] Ajeet2007 opened #10275 "New Isssue is here"
first working with pull request . i find it good for my start. So will you please assign me this issue. Also want to participate in hactoberfest
so please

[2022-10-16 09:11] Praashh commented on #10226
Can i have an chance to contribute ??

[2022-10-16 11:54] SunShade123456 commented on #9154
Please assign this to me.!

[2022-10-16 12:18] chandantiwari1 commented on #1292
can you assign this issue to me

[2022-10-16 13:05] Saurabh-kumar44 opened #10285 "saurav"

[2022-10-16 14:03] ZohaiAli commented on #10275
1. Fork the repository
Fork the repository by clicking the fork button on the top of the page. This will create an instance of that entire repository in your account.

fork-1
2. Clone the repository
Once the repository is in your account, clone it to your machine to work with it locally.

To clone, click on the clone button and copy the link.

clone1
Open the terminal and run the following command

[2022-10-17 04:33] Rehanpasha732 commented on #10226
Assign me please

[2022-10-17 04:33] Rehanpasha732 commented on #10210
please assign me

[2022-10-17 06:23] Naseerj commented on #10275
i will love to work on this if someone is not working on it

[2022-10-17 12:43] arpanbiki commented on #10110
Please assign me this sir.

[2022-10-17 13:17] ritika21-code commented on #9862
I want to work on this issue. Can you  please assign this to me?

[2022-10-17 14:53] soham1826 commented on #10210
Hey @AliceWonderland  i would love to add  this Javascript Calculator , i will add the calculator that can satisfy most of the needs
please assign this project to me  i want to start my opensource journey with this awesome project

[2022-10-17 14:55] soham1826 commented on #10210
Hey @AliceWonderland @MysteryHawk17
 i would love to add this Javascript Calculator , i will add the calculator that can satisfy most of the needs
please assign this project to me i want to start my opensource journey with this awesome project

[2022-10-17 14:56] #10210 closed, assigned to nobody

[2022-10-17 17:11] Sd-Shiivam opened #10309 "Hello world with exe file missing."
Hello sir, please assign me to add hello world exe file. 😊

[2022-10-17 17:11] #10309 closed, assigned to nobody

[2022-10-18 09:23] Hasnainqari commented on #10110
Assign me Please I can Do it trust me and I am also Learn from SMIT you can here name SMIT

[2022-10-18 14:40] EpicLulz1509 opened #10332 "can i add a google meeting bot in python made using selenium (web scraping)"

[2022-10-18 19:33] Abhishek-Anand25 commented on #9415
can you please assign this issue to me .

[2022-10-18 20:27] Sourabh1404 commented on #162
Can you assign me this issue? I would like to work on it.

[2022-10-20 07:30] sauravkumar8178 commented on #10332
Hello sir, my name is Saurav kumar. Can you assign this issue to me. I am interested to solving this issue.

[2022-10-20 09:14] sejalshe12 commented on #9126
hey,sejal singh this side first time trying this

[2022-10-20 12:03] Meghwantsingh commented on #9547
assign this to me

[2022-10-21 12:33] larryease commented on #10110
Could you assign me this project #10110, please

[2022-10-21 18:30] TRIPATHISHIWANSHI commented on #163
Name: SHIWANSHI TRIPATHI
- Place: DEHRADUN, UTTARAKHAND, INDIA
- Bio: I AM A BTECH STUDENT PURSUING FROM DIT UNIVERSITY
- GitHub: https://github.com/TRIPATHISHIWANSHI

[2022-10-22 04:13] Arghya46 commented on #9154
Hello sir, Can u assign this issuet to me?

[2022-10-22 06:50] AnujaDixit12 commented on #162
Hello sir, can you please assign me this issue . I would like to contribute.

[2022-10-22 11:36] Gulnaz44 commented on #162
Hello!
Please assign me this issues

[2022-10-22 11:39] Gulnaz44 commented on #101
Hello!
Please assign me this issues

[2022-10-23 17:49] ghost commented on #10226
could u plz assign me?

[2022-10-24 10:37] girisagar46 opened #10486 "Update README to say that this repo does not aligned with the Hacktoberfest values."
There is lots and lots of PR on this repo for Hacktoberfest, but that's misleading.

[2022-10-25 07:29] Vishwas1451 commented on #162
Can u plz assign me this issue

[2022-10-25 17:32] demonIsAlive opened #10525 "Please review my pr"
Please review my pr [Pr](https://github.com/AliceWonderland/hacktoberfest/pull/10524)

[2022-10-25 18:06] shraddhatech16 commented on #10074
Assign this issue to me pls

[2022-10-26 13:28] anushikhasingh08 commented on #10110
Sir, can you please assign this issue to me under hacktoberfest2022

[2022-10-29 07:02] mishraji874 commented on #8327
Name: Aditya Mishra
College: SRM Institute of Science and Technology. Kattankulathur
Github Profile: https://github.com/mishraji874

[2022-10-29 08:55] Ashu-1309 commented on #8327
Name: Ashutosh kumar saw
College: Narula Institute of Technology
Github profile : https://github.com/Ashu-1309

[2022-10-29 16:15] souvikrajsingh opened #10616 "Add more to the README.md"

[2022-10-29 16:16] #10616 closed, assigned to nobody

[2022-10-31 06:47] iamabhisekrath commented on #1909
HII can you please assign me this issue.

[2022-10-31 13:40] sharad1224 commented on #9928
assign me

[2022-10-31 15:35] priyankasaini69 commented on #10226
hola!
Please add the hacktoberfest tag.

[2022-10-31 15:42] priyankasaini69 commented on #10275
Hola!
please add hacktoberfest tag